<!DOCTYPE html>
<html>
  <head>
    <title>NoBsCodeGuide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
      <a class="navbar-item logo" data-turbolinks="false" href="/">
        <img src="/images/logo.png">
      </a>
        <a class="navbar-item" data-turbolinks="false" href="/">
          <h1 class="is-size-1">No BS Code Guide</h1>
        </a>
      </div>
    </nav>

    <%= yield %>

    <footer class="has-text-centered footer">
      <h5 class="is-size-5">&copy; No BS Code Guide</h5>
    </footer>

    <%- if Rails.env.development? || Rails.env.test? -%> 
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'index' %>
    
  </body>
</html>
